<%-include('header')-%>

<div class="text-center center-div mt-5" id="login">
   
    <h3>Welcome to Express Dashboard</h3>
    <h5><%=locals.user?user:"User"%></h5>
    <br>
    <b>ExpressJS , a web application framework that provides you with a simple API to build websites, web apps and back ends. With ExpressJS, you need not worry about low level protocols, processes, etc.
<br>
      <b></b>What is Express?</b><br>
      Express provides  minimal interface to build our applications. It provides us the tools that are required to build our app. It is flexible as there are numerous modules available on npm, which can be directly plugged into Express.
      
       was developed by TJ Holowaychuk and is maintained by the Node.js foundation and numerous open source contributors.<br>
      <br><b>Why Express?</b>
      
      Unlike its competitors like Rails and Django, which have an opinionated way of building applications, Express has no "best way" to do something. It is very flexible and pluggable.
      <br>
      <b>Pug</b><br>
      Pug (earlier known as Jade) is a terse language for writing HTML templates. It −
      
      Produces HTML
      Supports dynamic code
      Supports reusability (DRY)
      It is one of the most popular template language used with Express.
      <br>
      <b>MongoDB and Mongoose</b><br>
      MongoDB is an open-source, document database designed for ease of development and scaling. This database is also used to store data.
      
      Mongoose is a client API for node.js which makes it easy to access our database from our Express application.</p>
    
   </div>

</div>



<%-include('footer')-%>